.search{
    display: block;
    margin-top: 12rem;
    margin-left: 12rem;
}
.search p{
    font-size: 5rem;
}

input{
    width: 35rem;
    border-radius: 1rem;
    padding: 0.8rem;
    background-color: rgb(228, 226, 226);
    border: none;
    height: 3.5rem;
}

.searchButton{
    font-size: 1.1rem;
    margin-left: 1rem;
    width: 6rem;
    padding: .5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(164, 133, 9);
}

.searchButton:hover{
    cursor: pointer;
}