.dashboard-outer-div {
    background-color: rgb(136, 149, 127);
    margin-top: 3.8rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 1rem;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    height: 50rem;
    padding-left: 5rem;
    position: relative; 
  }
  .dashboard-outer-div p {
    font-size: 6rem;
    color: white;
    margin-bottom: 1rem; 
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

input {
  padding-left: inherit;
  width: 40rem;
  border-radius: 1rem;
  padding: 0.8rem;
  background-color: rgb(228, 226, 226);
  border: none;
  height: 3.5rem;
  z-index: 100%;
  margin-top: 35%;
}

.searchButton {
  font-size: 1.1rem;
  margin-left: 1rem;
  width: 6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(164, 133, 9);
}

.searchButton:hover {
  cursor: pointer;
}

.loginRequest p{
  font-size: 1.5rem;
  color: rgb(140, 41, 41);
  padding-left: inherit;
  margin-top: 50%;
}
.dashboardImage{
    width: 20%;
  position: absolute;
  top: 50%; 
  right: 4rem;
  margin-right: 6rem;
}
.dashboardImage img{
  height: 40%;
    border-radius: 1rem;
    box-shadow: 2px 10px 18px -1px rgba(0,0,0,0.48);
}

@media only screen and (max-width: 1300px) {
  .search {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    align-items: center;
    justify-content: center;
  }

  input {
    width: 70%; 
    margin-top: 0; 
  }

  .searchButton {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .loginRequest p {
    position: static;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .dashboard-outer-div{
    margin-left: 0;
    margin-right: 0;  
    height: auto;
  }
  .search{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .dashboard-outer-div p {
    font-size: 3rem;
    align-items: center;
  }
  input {
    max-width: 50%; 
  }
  .dashboardImage {
    display: none; 
  }
  .searchButton {
    margin-top: 1rem;
  }
}


/* Media Queries for Mobile Screens */
@media only screen and (max-width: 480px) {
  .search .loginRequest p {
    position: static;
    font-size: 0.5rem;
    margin-top: 1rem;
  }
  .dashboard-outer-div{
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }
  .search{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .dashboard-outer-div p {
    font-size: 2rem;
    align-items: center;
  }
  input {
    max-width: 50%; 
  }
  .dashboardImage {
    display: none; 
  }
  .searchButton {
    display: block;
    margin-top: 1rem;
  }
}