.top-navbar{
    display: flex;
    top: 0;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    align-items: center;
    z-index: 100;
}

.logo{
    color: black;
    text-decoration: none;
}

.HomeAndLoginAndSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home{
    padding: 0.5rem;
}

.Login{
    padding: 0.5rem;
}

form{
    border-radius: 10rem;
    align-items: center;
}
input{
    border-radius: 11px;
    font: 15px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}
