a{
    text-decoration: none;
}
.top-navbar{
    display: flex;
    top: 0;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    align-items: center;
    z-index: 100;
}

.logo{
    color: black;
    text-decoration: none;
    font-size: 3rem;
}

.HomeAndAuthentication{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home{
    font-size: 1.5rem;
    padding: 0.5rem;
}

