.User-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blanchedalmond;
  width: 50%;
  max-width: 90%;
  text-align: left;
  padding: 1rem;
  align-items: center;
  margin: 10rem auto;
  height: 20rem;
  border-radius: 1.4rem;
}

.form-controls{
display: flex;
flex-wrap: wrap;
gap: 1rem;
justify-content: center;
margin-bottom: 2rem;
}

.form-control{
margin: 1rem auto;
}

.form-control label{
font-weight: bold ;
display: block;
margin-bottom: 0.5rem;
padding-left: 0.5rem;
font-size: 1rem;
}

.form-control input{
  width: 20rem;
  font: inherit;
  border-radius: 0.4rem;
  height: 2rem;
  border: none;
}

.form-action{
  text-align: center;
}
.form-action button{
  font-weight: bold;
  color: white;
  padding: 0.6rem;
  width: 7rem;
  border-radius: 0.4rem;
  border: none;
  background-color: rgb(130, 81, 81);
}

.form-action button:hover{
cursor: pointer;
background-color: rgb(138, 101, 101);
transition: 0.2s;
font-size: medium;
}