
.User-form-background{
  background-image: url("/public/Images/FormBackground.jpg");
  width: 100%;
  display: flex;
  margin-top: 3.8rem;
  align-items: center;
}

.User-form-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(36, 100%, 90%, 0.5);
  width: 50%;
  max-width: 90%;
  text-align: left;
  padding: 1rem;
  align-items: center;
  margin: 10rem auto;
  height: auto;
  border-radius: 1.4rem;
}

.form-controls{
display: flex;
flex-wrap: wrap;
gap: 1rem;
margin-bottom: 2rem;
}

.form-control{
margin: 1rem auto;
}

.form-control label{
font-weight: bold ;
display: block;
margin-bottom: 0.5rem;
padding-left: 0.5rem;
font-size: 1rem;
}

.form-control input{
  width: 20rem;
  font: inherit;
  border-radius: 0.4rem;
  height: 2rem;
  border: none;
  background-color: white;
  margin:0.2rem;
}

.form-action{
  text-align: center;
}
.form-action button{
  font-weight: bold;
  color: white;
  padding: 0.6rem;
  width: 7rem;
  border-radius: 0.4rem;
  border: none;
  background-color: rgb(130, 81, 81);
  opacity: 0.5;
}

.form-action button:hover{
cursor: pointer;
background-color: rgb(138, 101, 101);
transition: 0.2s;
font-size: medium;
}

@media only screen and (max-width: 780px) {
  .User-form-box {
    width: 70%; 
    margin: 3rem auto; 
  }
  .form-controls{
    text-align: center;
  }
}

/* Media Queries for Mobile Screens */
@media only screen and (max-width: 480px) {
  .User-form-box {
    width: auto; 
    margin: 2rem auto;
  }
}