.card{
    padding: 10px 10px;
}
.imagebox{
    color: black;
    border-radius: 29px;
    padding: 0;
    text-align: center;
    background-color: transparent;
}
.captionbox{
    display: grid;
    justify-content: center;
    text-align: center;
    border-style: dotted;
    border-width: 0 1px 1px 1px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
 p{
    font-size: 1.2rem;

}
.caption {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;
}
img{
    height: 21.8rem;
    width: 18.75rem;
    border-radius: 19px;
    z-index: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
