.logout{
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    padding: 1.2rem;
    width: 8rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(164, 133, 9);
}

.logout:hover{
    cursor: pointer;
    background-color: rgb(214, 190, 91);
    transition: 0.2s;
}